table,th,td {
    border: 1px solid black;
    text-align: left;
    border-color:blue;
 
     
    
  }
th{color:blue;
  border-style:dotted; 
  
  }
td {
  background-color: yellow;
  border-radius: 10px;
}
.monospace {
  font-family:  monospace;
  background-color: beige;
}
